.button {
  padding: 12px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(13 / 13);
  margin-top: 40px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.button_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  transition: opacity .5s linear;
}

.button_disabled:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button_enabled {
  background: #7F265B;
  color: #FFFFFF;
  transition: opacity .5s linear;
}

.button_enabled:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button_type_save {
  width: 50%;
  margin: auto;
}
