---
title: Изменение пароля
---

{{!< base}}

<section class="profile">
  <div class="profile__overlay">
    <img class="profile__avatar" src="../assets/images/avatar.svg" alt="Аватар пользователя" />
  </div>
  <h2 class="profile__title"></h2>
  <form class="form form_type_profile">
    <fieldset class="form__container">
      <ul class="form__content list" role="none">
        <li class="form__item form__item_type_profile">
          {{> "label/label" class="form__label form__label_type_profile" for="oldPassword" text="Старый пароль" }}
          {{> "input/input"
            class="form__input form__input_type_profile"
            type="password"
            name="oldPassword"
            value="123456789"
            id="oldPassword"
            placeholder=""
            required=true
          }}
        </li>
        <li class="form__item form__item_type_profile">
          {{> "label/label" class="form__label form__label_type_profile" for="newPassword" text="Новый пароль" }}
          {{> "input/input"
            class="form__input form__input_type_profile"
            type="password"
            name="newPassword"
            value="12345678911"
            id="newPassword"
            placeholder=""
            required=true
          }}
        </li>
        <li class="form__item form__item_type_profile">
          {{> "label/label" class="form__label form__label_type_profile" for="repeat-new-password" text="Повторите новый пароль" }}
          {{> "input/input"
            class="form__input form__input_type_profile"
            type="password"
            name="repeat-new-password"
            value="12345678911"
            id="repeat-new-password"
            placeholder=""
            required=true
          }}
        </li>
      </ul>
    </fieldset>
    {{> "button/button" class="button button_type_save button_enabled" text="Сохранить" }}
  </form>
</section>
