---
title: Ошибка
---

{{!< base}}

<section class="error-section">
  <h2 class="error-section__title">500</h2>
  <p class="error-section__subtitle">Мы уже фиксим</p>
  {{> "link/link" class="error-section__link" href="./chats.hbs" text="Назад к чатам" }}
</section>
